.alrt-div {
	position: absolute;
	top: 0;
	right: 0;
	position: fixed;
    top: 70px;
    right: 11px;
	z-index: 5;
}
.alrt-danger {
	background-color: #ff626a;
	color: white;
}
.alrt-body {
	padding: 0.60rem;
}
.min_width {
	min-width: 80px;
}