.mastertitle {
    color: #666666;
    text-decoration: none;
    font-weight: 500;
}

.masterHeading {
    text-align: center;
    padding: 5px;
}

.mastertitle:hover {
    text-decoration: none;
    color: #666666;
    font-weight: bold;
}

.backToList {
    margin: 5px;
}

.labelForm {
    float: right;
}

.compulsoryField {
    color: red;
}

.backToMaster {
    margin: 5px;
    float: right;
}
