.reportLink {
    color: #495057;
}

.reportLink:hover {
    color: #495057;
    font-weight: bold;
    text-decoration: none;
}

.reportHeading {
    text-align: center;
    padding: 5px;
}

.backToList {
    margin: 5px;
}

.labelForm {
    float: right;
}

.backToListReport {
    margin-bottom: 20px;
    color: #fff;
}

.tBodyCenter {
    text-align: center;
}

.reporticoBack {
    color: #fff;
    margin-bottom: 20px;
}

.noReport {
    text-align: center;
    font-weight: bold;
}

.masterHeading {
    text-align: center;
    padding: 5px;
}

.compulsoryField {
    color: red;
}