
.modal-backdrop {
    position: unset;

     /* position: fixed; */
     top: 0;
     left: 0;
     z-index: 1040;
     width: 100vw;

     height: 0 !important;
     background-color: #000;
}

.modal-open{
    overflow:auto;
   height:max-content;
}

