/*added new class css for leaseDetail by laxmi B, 27-09-2022*/
#radiobuttonContainer{
  
    margin-left: 9px;
}
.status{
	margin-top: 10px;
	align-items: center;
	display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 400 !important;
    font-size: 16px;
}

/*added new class css end for partialsurrenderd by laxmi B, 28-09-2022*/

 /*added new class for wastemanagement/useminerals by laxmi at 03-10-2022 */
 .minralName{
    width: 200px;
 }