#session_timer {
	display: inline-flex;
	margin-right: 10px;
}
#session_timer_text {
	color: white;
    margin-top: 3px;
	font-size: 19px;
    padding-right: 8px;
}
#session_timer_counter {
	font-size: 19px;
    color: white;
    background: #626262;
    padding: 3px 6px;
    border-radius: 4px;
}